* {
    margin: 0;
    padding: 0;
}

:root {
    --firstColor: maroon;
    --secondColor: rgb(105, 105, 105);
    --thirdColor: white;
    --fourthColor: lightgray;
}

body {
    background-image: url('../images/pexels-pixabay-53459.png');
}

header {
    background-color: var(--firstColor);
    font-family: 'Lobster', cursive;
    margin-bottom: 0px;
}

h2 {
    font-size: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.search-container {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.weather-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#search-history {
    width: 100%;
    margin-top: 20px;
}

#clear-history {
    width: 40%;
    margin: 5px;
}

form {
    display: flex;
    margin-bottom: 10px;
}

input {
    flex-grow: 1;
    margin-right: 10px;
}

button {
    background-color: var(--secondColor);
    color: var(--thirdColor);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
}

.search-button {
    align-items: center;
}

.current-weather-container,
.forecast-container {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    gap: 45px;
    background-color: var(--fourthColor);
    border: 1px solid black;
    outline-style: outset;
    margin: 10px;
    padding: 15px;
}